@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&family=Poppins:wght@400;500;700&display=swap");

body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  font-family: "Lexend";
  overflow-x: hidden;
}

.hero {
  padding: 80px;
}

.hero_headline {
  font-weight: 500;
  font-size: 48px;
  max-width: 830px;
  margin: 0 0 10px;
  line-height: 150%;
  text-transform: capitalize;
}

.hero_headline span {
  color: #caff33;
}

.hero_paragraph {
  color: #e4e4e7;
  max-width: 830px;
  margin: 0 0 40px;
}

.hero_button {
  border-radius: 82px;
  color: #1c1c1c;
  background-color: #caff33;
  padding: 16px 24px;
  /* remove the underline below the link HTML tag */
  text-decoration: none;
}

.hero_card_paragraph {
}
