.navigation {
  margin-top: 6rem;
}

.navigation_wrapper {
  max-width: 144rem;
  margin: auto;

  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navigation_links_wrapper {
  align-items: center;
  display: flex;
  gap: 4rem;
}

.navigation_logo {
  width: 17.268rem;
}

.navigation_wrapper {
  align-items: center;
  display: flex;
  gap: 4rem;
}

.navigation_links {
  align-items: center;
  display: flex;
  gap: 6rem;

  background-color: var(--color-light-grey);
  border-radius: 4rem;
  padding: 1.8rem 5.2rem;
}

.navigation_link {
  display: block;
  transition: all 0.4s ease;
}

.navigation_link:hover {
  color: var(--color-purple);
  transform: scale(0.9);
}

.navigation_button {
  background-color: var(--color-purple);
  border-radius: 4rem;
  color: var(--color-white);
  display: block;
  padding: 1.8rem 5.2rem;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.4s ease;
}

.navigation_button:hover {
  transform: scale(0.9);
}

/* PHONE MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .navigation {
    margin-top: 2rem;
  }

  .navigation_wrapper {
    flex-direction: column;
    gap: 3rem;
  }

  .navigation_links_wrapper {
    flex-direction: column;
    gap: 3rem;
  }

  .navigation_links {
    flex-direction: column;
    gap: 1.6rem;
  }
}
