body {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  font-family: "Arial";
  overflow-x: hidden;
}

.headline {
  font-size: 40px;
}

.paragraph {
  line-height: 24px;
  max-width: 800px;
}

.image {
  width: 1000px;
}
